/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif; */

.navbar {
    background-color: #EDE4E0 !important;
}

a .navlink {
    color: #9F8772;
}

.nav-link:hover {
    background-color: #9F8772;
}

.roadtrip {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: 'Bebas Neue';
    font-size: 50px;
    color: #7D8F69; 
}

h2 {
    font-family: 'Bebas Neue';
    font-size: 40px;
    color: #7D8F69; 
}
.card-image {
    height: 300px;
    width: 100%;
}

.card {
    margin-bottom: 10px;
}
.card-body {
    background-color: #9F8772;
}


.Places {
    background-color: #EDE4E0;
    padding: 50px;
}

footer {
    background-color: #7D8F69;
    text-align: center;
    padding: 50px;
    position: sticky;
}

.container-footer{
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands,
.fa-sharp {
    color: #000;
    font-size: 30px;
    border-radius: 50%;
    padding: 10px;
}

#fs-frm {
    border: 4px solid #9F8772;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    padding: 10px;
    width: 100%;
    background-color: #9F8772;
}
